* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Sedan SC", serif;
    font-weight: 400;
    font-style: normal;
    background-color: var(--bg-main);
    background-image: url('../assets/background1.jpg');
    background-repeat: repeat-y;
    background-size: cover;
    width: 100%;
}
main {
    width: 75%;
    margin: 0 auto;
    background-color:#f1eacd;
    box-shadow: #9d010e4d 0px 1px 4px, #9d010eb5 0px 0px 0px 3px;
}
h1 {
    text-align: center;
}
